<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="title"><a (click)="dashboardPage()" class="back-btn"><i
                                class="fas fa-angle-left"></i></a> Trabajos Realizados</div>
                </div>
                <div class="col-4 text-right">
                    <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg"
                            class="width-100" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="transactionlist">
            <div class="container">
                <div class="transactions-box" *ngFor="let work_finished of works_finished" (click)="goToItemWork(work_finished._id)">
                    <div class="left">
                        <div class="icon bg-success"><img src="../../../assets/images/card.svg"
                                class="w-100 card-icon" /></div>
                    </div>
                    <div class="middle">
                        <div class="title">{{work_finished.title}}</div>
                        <div class="employer">{{work_finished.employer}}</div>
                    </div>
                    <div class="right">
                        <div class="price text-success" *ngIf="work_finished.is_per_hours">
                            $<p class="price_per_hour">{{work_finished.price_per_hour}}</p>/hora
                        </div>
                        <div class="price text-success" *ngIf="!work_finished.is_per_hours">
                            $<p class="price_total">{{work_finished.price_total}}</p> por trabajo realizado
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</ion-content>
<app-footer></app-footer>