<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-8">
                    <div class="title"><a (click)="dashboardPage()" class="back-btn"><i
                                class="fas fa-angle-left"></i></a> Perfil</div>
                </div>
                <div style="display: none;" class="col-4 text-right"><a class="pulse-animation notification-btn"
                        ><i class="far fa-bell"></i></a> <a class="edit-btn"><i
                            class="fas fa-edit"></i></a></div>
            </div>
        </div>
        <div class="body">
            <div class="profile-box">
                <div class="top">
                    <div class="pic"><img src="../../../assets/images/user-profile.jpg" class="w-100" /></div>
                    <div class="name">{{user.name}} {{user.lastname}}</div>
                    <div class="location">{{user.city}}</div>
                </div>
                <div class="bottom" style="display: none;">
                    <div class="row">
                        <div class="col-6">
                            <div class="label">Income</div>
                            <div class="value text-success">$2,345</div>
                        </div>
                        <div class="col-6">
                            <div class="label">Expenses</div>
                            <div class="value text-danger">$1,234</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head">Información</div>
            <div class="card">
                <div class="card-body">
                    <div class="label">Dirección</div>
                    <div class="value">{{user.address}}</div>
                    <div class="label">Correo Electrónico</div>
                    <div class="value">{{user.email}}</div>
                    <div class="label">Teléfono</div>
                    <div class="value">{{user.phone}}</div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<app-footer></app-footer>