<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="title"><a (click)="dashboardPage()" class="back-btn"><i
                                class="fas fa-angle-left"></i></a> Trabajos Creados</div>
                </div>
                <div class="col-4 text-right">
                    <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg"
                            class="width-100" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="transactionlist">
            <div class="container">
                <div class="transactions-box" *ngIf="!works_created || works_created?.length == 0">
                    <h1 style="color: #d7a225;">Actualmente no ha creado ningún trabajo</h1>
                </div>
                <div class="transactions-box" *ngFor="let work_created of works_created" (click)="goToItemWork(work_created._id)">
                    <div class="left">
                        <div class="icon bg-success"><img src="../../../assets/images/card.svg"
                                class="w-100 card-icon" /></div>
                    </div>
                    <div class="middle">
                        <div class="title">{{work_created.title}}</div>
                        <div class="employer">{{work_created.employer.name}} {{work_created.employer.lastname}}</div>
                        <div class="time">{{getStringDateCreation(work_created.created_at)}}</div>
                    </div>
                    <div class="right">
                        <div class="price text-success" *ngIf="work_created.is_per_hours">
                            $<p class="price_per_hour">{{work_created.price_per_hour}}</p>/hora
                        </div>
                        <div class="price text-success" *ngIf="!work_created.is_per_hours">
                            $<p class="price_total">{{work_created.price_total}}</p> por trabajo realizado
                        </div>

                        <div class="state-created" *ngIf="work_created.status == 'created'">
                            {{getCountApplicants(work_created)}} Interesados
                        </div>
                        <div class="state-in_progress" *ngIf="work_created.status == 'in_progress'">
                            En Proceso
                        </div>
                        <div class="state-finished" *ngIf="work_created.status == 'finished'">
                            Terminado
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</ion-content>
<app-footer></app-footer>