<ion-content class="mainbackground">
<div class="form-box">

  <!-- <div class="logo"><img src="../../../assets/images/logoicon.svg" class="w-100"></div> -->
  <h2 class="title" style="display: block ruby;"><div style="color: #7672db;">Easy</div><div>Job</div></h2>
 <!--
  <div class="title">Ingresa con una red social</div>
  <ul class="social">
    <li><a><i class="fab fa-facebook-f"></i></a></li>
    <li><a><i class="fab fa-twitter"></i></a></li>
    <li><a><i class="fab fa-linkedin-in"></i></a></li>
  </ul-->
  <div class="or">Ingresa con tú usuario y contraseña</div>
    <div class="form-group">
      <input type="text" class="form-control" autocomplete="off" [(ngModel)]="email" placeholder="Correo" name="Username" required="">
    </div>
  <div class="form-group">
    <input type="password" class="form-control" autocomplete="off" [(ngModel)]="password" placeholder="Contraseña" name="Password" required="">
  </div>
  <button (click)="login()" class="theme btn btn-primary">Iniciar Sesión</button>
  <div *ngIf="error" class="error-label"><p>{{error}}</p></div>
  <!--div class="forgot"> <a (click)="forgotpasswordPage()">Forgot your password?</a></div-->
 </div>
<div class="footer-link"> No tienes cuenta?
  <br><a class="register-worker" (click)="registerPage()">Regístrate Ahora</a>
</div>
</ion-content>
