<ion-content class="mainbackground">
<div class="form-box">
  <!-- <div class="logo"><img src="../../../assets/images/logoicon.svg" class="w-100"></div> -->
  <div class="title">Regístrese</div>
 
  <!--ul class="social">
  <li><a><i class="fab fa-facebook-f"></i></a></li>
  <li><a><i class="fab fa-twitter"></i></a></li>
  <li><a><i class="fab fa-linkedin-in"></i></a></li>
  </ul>
  <div class="or">OR</div-->
  <form [formGroup]="registerForm">
    <div class="row justify-content-md-center">
      <div class="col-sm-6">
        <div class="form-group">
          <select class="form-control" id="document_type" placeholder="Tipo de Documento" formControlName="document_type" required="">
            <option value="CC-COL">Cédula de ciudadanía</option>
            <option value="CE-COL">Cédula de Extranjería</option>
            <option value="PP-COL">Permiso temporal de permanencia</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name" required="">
        </div>
        <div class="form-group">
          <input type="text" disabled class="form-control" style="background-color: transparent;" id="country" placeholder="País" formControlName="country" required="">
        </div>
        <div class="form-group">
          <select class="form-control" class="form-control" id="city" placeholder="Ciudad" formControlName="city" required="">
            <option value="Bogotá">Bogotá</option>
            <option value="Chía">Chía</option>
            <option value="Madrid">Madrid</option>
            <option value="Mosquera">Mosquera</option>
            <option value="Funza">Funza</option>
            <option value="Zipaquirá">Zipaquirá</option>
          </select>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Correo" formControlName="email" required="">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="phone" placeholder="Teléfono" formControlName="phone" required="">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" id="document" placeholder="Documento" formControlName="document" required="">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="lastname" placeholder="Apellido" formControlName="lastname" required="">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" style="background-color: transparent;" id="providence" placeholder="Departamento" formControlName="providence" required="">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="neighborhood" placeholder="Barrio" formControlName="neighborhood" required="">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="address" placeholder="Dirección" formControlName="address" required="">
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="type_register" value="worker">
          <label style="color: #FFF;" class="form-check-label" for="flexRadioDefault1">
          Trabajador
          </label>
          <span style="margin: 10px;"></span> 
          <input class="form-check-input" type="radio" formControlName="type_register" value="employee">
          <label style="color: #FFF;" class="form-check-label" for="flexRadioDefault1">
            Empleador
          </label>   
        </div>
      </div>
      <div class="col-sm-12"> 
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Contraseña" formControlName="password" required="">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="cpassword" placeholder="Confirme Contraseña" formControlName="confirm_password" required="">
        </div>
      </div>
    </div>
    <button (click)="register()" class="theme btn btn-primary" [disabled]="registerForm.invalid || this.registerForm.value.password != this.registerForm.value.confirm_password">Regístrate!</button>
    <div *ngIf="error" class="error-label"><p>{{error}}</p></div>
  </form>
  <br><br>
  <div class="footer-link"> ¿Ya tiene cuenta?
    <br><a (click)="loginPage()">Inicie aquí sesión</a>
  </div>
</div>

</ion-content>
