.form-box {
    width: 70%;
    margin: auto;
    height: 500px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}
.form-box .logo {
    width: 60px;
    margin: auto;
}

.title {
    vertical-align: top;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.social {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
ul.social li {
    display: inline-block;
    margin-right: 10px;
}
ul.social li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 40px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
ul.social li:first-child a {
    background: #4267b2;
    border: 0px;
    color: #fff;
}
ul.social li:nth-child(2) a {
    background: #00acaa;
    border: 0px;
    color: #fff;
}
.form-box ul.social li:last-child a {
    background: #0e76a8;
    border: 0px;
    color: #fff;
}
.form-box ul.social li a:hover {
    opacity: 0.8;
}
.form-box .or {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #eee;
}
.form-box .forgot a {
    text-align: center;
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}
.form-box .forgot a:hover {
    color: #eb001b;
}
.footer-link {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    bottom: 20px;
    left: 0px;
    right: 0px;
}

.footer-link a {
    color: #be2623;
    cursor: pointer;
    text-decoration: none;
}
.footer-link a:hover {
    color: #f79e1b;
}

select option {
    background-color: black;
}
