<aside class="main-menu-box bg-primary">
  <div class="trangle-bg"></div>
  <div class="header">
    <div class="title">Menú Principal</div>
    <a class="close-btn"><i class="fas fa-times"></i></a>
  </div>
  <div class="menu">
    <ul class="nav flex-column flex-nowrap main-menu overflow-hidden">
      <li class="nav-item">
        <a class="nav-link submenu" (click)="dashboardPage()" [ngClass]="url1=='/dashboard' ? 'active ' : ''">
          <span>Inicio</span></a>
      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" (click)="paymentsPage()" [ngClass]="url1=='/payments' ? 'active ' : ''">
          <span>Payments</span></a>

      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" (click)="historyPage()"
          [ngClass]="url1=='/history' ? 'active' : ''"><span>History</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="profilePage()"
          [ngClass]="url1=='/profile' ? 'active ' : ''"><span>Perfil</span></a>
      </li>

      <li class="nav-item" style="display: none;">
        <a class="nav-link" (click)="settingsPage()"
          [ngClass]="url1=='/settings' ? 'active' : ''"><span>Settings</span></a>
      </li>

    </ul>
  </div>

  <div class="menu-footer">
    <div class="profile box">
      <div class="profile-pic" (click)="profilePage()">
        <img src="../../../assets/images/user-profile.jpg" class="w-100" />
      </div>
      <div class="profile-info">
        <div class="name" (click)="profilePage()">{{user.name}} {{user.lastname}}</div>
        <div class="location">{{user.city}}</div>
      </div>
      <div class="signout-btn"><a (click)="logoutPage()">Cerrar Sesión<i class="fas fa-sign-out-alt"></i></a></div>
    </div>
  </div>
</aside>