<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
  <div class="container">
    <div class="header">
      <div class="row">
      
        <div class="col-8">
          <ion-header>
            <ion-toolbar style="--background: transparent;
            color: white;">
              <ion-buttons slot="start">
                <ion-back-button defaultHref="dashboard" [text]="Regresar"></ion-back-button>
                <ion-label>Regresar</ion-label>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
        </div>
        <div style="display: none;" class="col-4 text-right"><a class="edit-btn"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>
    <div class="body">

      <div class="head">Información del trabajo (En espera de aplicantes)</div>
      <ion-grid class="card card-body">
        <ion-row style="margin-bottom: 20px;">
          <div class="title-work">{{work?.title}}</div>
        </ion-row>
        <ion-row> 
          <ion-col>
            <div>
              
              <div class="label" *ngIf="!work?.is_per_hours">Presupuesto total</div>
              <div class="value" *ngIf="!work?.is_per_hours">${{work?.price_total}}</div>

              <div class="label" *ngIf="work?.is_per_hours">Salario por hora</div>
              <div class="value" *ngIf="work?.is_per_hours">${{work?.price_per_hour}}</div>
              
              <div class="label">Personal Requerido</div>
              <div class="value">{{work?.workers_required || "Indefinido"}}</div>
            
              <div class="label">Descripción</div>
              <div class="value" style="text-align: justify;">{{work?.description}}</div>
            
              <div *ngIf="selected">
                <div class="label">Ciudad</div>
                <div class="value" style="text-align: justify;">{{selected?.work.city}}</div>
              </div>

              <div *ngIf="selected" style="margin-top: 10px;">
                <div class="label">Dirección</div>
                <div class="value" style="text-align: justify;">{{selected?.work.address}}</div>
              </div>
              <div *ngIf="work?.status == 'finished' && current_user.is_employeer && work?.employer._id == current_user._id" >
                <h1  style="color: red;">Ha terminado el trabajo, los fondos se han acreditado al trabajador!</h1>

                <div *ngIf="!work?.qualified">
                  <div class="label">¿Desea calificar al trabajador?</div>
                  <ion-range [(ngModel)]="qualification" min="1" max="5" step="1" snaps="true" style="color: rgb(111, 204, 6);">
                    <ion-label slot="start">1</ion-label>
                    <ion-label slot="end">5</ion-label>
                  </ion-range>
                  <ion-button (click)="changeCalification($event)" style="margin-top: -5px;" color="secondary" class="apply-work-btn" size="small">Guardar</ion-button>
                </div>

                <div *ngIf="work?.qualified">
                  <div class="label">Ya ha calificado al trabajador</div>
                </div>

                <div>
                  <div>
                    <div class="label">Nombre Empleador</div>
                    <div class="value" style="text-align: justify;">{{workers_selected[0]?.name}} {{workers_selected[0]?.lastname}}</div>
                  </div>
                  <div>
                    <div class="label">Teléfono Empleador</div>
                    <div class="value" style="text-align: justify;">{{workers_selected[0]?.phone}}</div>
                  </div>
                </div>
               
              </div>
              <div *ngIf="selected">
                <h1 *ngIf="work?.status == 'finished' " style="color: red;">Ha terminado el trabajo, los fondos se han acreditado a su cuenta!</h1>
                <p style="font-size: 25px;
                font-weight: bold;
                color: #6acd59;
                margin-top: 22px;
                margin-bottom: -5px;">Felicitaciones</p>
                <p style="color: #cde5b8;">Fue seleccionado para este trabajo. Por favor contáctese con el empleador</p>
                <div>
                  <div class="label">Nombre Empleador</div>
                  <div class="value" style="text-align: justify;">{{selected?.employer}}</div>
                </div>
                <div>
                  <div class="label">Teléfono Empleador</div>
                  <div class="value" style="text-align: justify;">{{selected?.phone}}</div>
                </div>
                <div>
                  <div class="label">Ciudad Empleador</div>
                  <div class="value" style="text-align: justify;">{{selected?.city}}</div>
                </div>
                <div>
                  <div class="label">Direccion Empleador</div>
                  <div class="value" style="text-align: justify;">{{selected?.address}}</div>
                </div>
                <div>
                  <div class="label">Correo Empleador</div>
                  <div class="value" style="text-align: justify;">{{selected?.email}}</div>
                </div>
              </div>

            </div>
          </ion-col>
          <ion-col style="text-align: center;">

              <ion-avatar style="margin: auto;">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <div class="employer-info">
                <ion-label>{{work?.employer.name}} {{work?.employer.lastname}}</ion-label>
              </div>

              <div class="label">Departamento</div>
              <div class="value">{{work?.providence}}</div>

              <div class="label">Ciudad</div>
              <div class="value">{{work?.city}}</div>

              <ion-button *ngIf="!applied && applied != undefined && current_user.is_worker" color="primary" class="apply-work-btn" (click)="confirmApplyToWork()">Aplicar</ion-button>
              <ion-button *ngIf="applied && current_user.is_worker && selected == undefined" color="secondary" class="apply-work-btn" disabled >Aplicado</ion-button>
              <ion-button *ngIf="selected" color="secondary" class="apply-work-btn" disabled >Seleccionado!</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list class="card card-body" *ngIf="current_user.is_employeer && work?.status == 'created' && work?.employer._id == current_user._id" >
        <ion-list-header>
          <ion-label class="title">Aplicantes</ion-label>
        </ion-list-header>
        <ion-label class="title" style="margin-top: 10px;
        color: burlywood;" *ngIf="current_user?.is_employeer && (applicants == undefined || applicants.length <= 0)">
        Actualmente nadie ha aplicado a su trabajo!</ion-label>
        
        <ion-item class="item-applicants" *ngFor="let applicant of applicants">
          <ion-label>
            <h2>{{applicant.name}} {{applicant.lastname}}</h2>
            <h3>{{applicant.phone}}</h3>
            <p>{{applicant.info_apply.comments}}</p>
            <div *ngIf="applicant?.count_qualifications >= 1">
              <ion-icon name="star-outline" *ngFor="let x of [].constructor(convertInt(applicant?.qualification/applicant?.count_qualifications))"></ion-icon>
            </div>
            <div *ngIf="!applicant?.count_qualifications || applicant?.count_qualifications == 0">
                <p>Sin calificaciones</p>
            </div>
          </ion-label>
          <ion-button slot="end" (click)="contratar(applicant._id)">Contratar</ion-button>
        </ion-item>
      </ion-list>

      <ion-list class="card card-body" *ngIf="current_user.is_employeer && work?.status == 'in_progress' && work?.employer._id == current_user._id">
        <ion-list-header>
          <ion-label class="title">Seleccionados</ion-label>
        </ion-list-header>

        <ion-item class="item-applicants" *ngFor="let worker of workers_selected">
          <ion-label>
            <h2>{{worker.name}} {{worker.lastname}}</h2>
            <h3>{{worker.phone}}</h3>
          </ion-label>
          <ion-button (click)="endWork()" slot="end">Terminar Trabajo</ion-button>
        </ion-item>
      </ion-list>

    </div>
  </div>
</ion-content>
<app-footer></app-footer>