<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="title"><a (click)="dashboardPage()" class="back-btn"><i
                                class="fas fa-angle-left"></i></a> Trabajos Actualmente</div>
                </div>
                <div class="col-4 text-right"><a class="pulse-animation notification-btn"
                        (click)="notificationsPage()"><i class="far fa-bell"></i></a>
                    <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg"
                            class="width-100" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <ion-grid>
            <ion-row class="principal-row">
                <ion-col size="4">
                    <div class="filters">
                        <ion-item class="filter-helper">
                            <ion-label>
                                Filtros
                            </ion-label>
                        </ion-item>
                        <ion-item class="filter-option">
                            <ion-label>Categoría</ion-label>
                            <ion-select (ionChange)="onFilterChange()" [(ngModel)]="filter_category"
                                cancelText="Cancelar" okText="Guardar">
                                <ion-select-option selected value="">Todas</ion-select-option>
                                <ion-select-option value="cleanliness">Aseo</ion-select-option>
                                <ion-select-option value="construction">Construcción</ion-select-option>
                                <ion-select-option value="mechanics">Mecánica</ion-select-option>
                                <ion-select-option value="electricity">Electricidad</ion-select-option>
                                <ion-select-option value="kitchen_room">Cocina</ion-select-option>
                                <ion-select-option value="transport">Transporte</ion-select-option>
                                <ion-select-option value="gardening">Jardinería</ion-select-option>
                                <ion-select-option value="education">Educación</ion-select-option>
                                <ion-select-option value="pets">Mascotas</ion-select-option>
                                <ion-select-option value="home">Hogar</ion-select-option>
                                <ion-select-option value="events">Eventos</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="filter-option">
                            <ion-label>Por Horas</ion-label>
                            <ion-toggle (ionChange)="onFilterChange()" [(ngModel)]="filter_per_hours"></ion-toggle>
                        </ion-item>
                        <!-- <ion-item class="filter-option">
                            <ion-label>Habilidades</ion-label>
                            <ion-select multiple="true" cancelText="Cancelar" okText="Guardar">
                              <ion-select-option value="bacon">Carpinteria</ion-select-option>
                              <ion-select-option value="olives">Black Olives</ion-select-option>
                              <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
                              <ion-select-option value="peppers">Green Peppers</ion-select-option>
                              <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
                              <ion-select-option value="onions">Onions</ion-select-option>
                              <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
                              <ion-select-option value="pineapple">Pineapple</ion-select-option>
                              <ion-select-option value="sausage">Sausage</ion-select-option>
                              <ion-select-option value="Spinach">Spinach</ion-select-option>
                            </ion-select>
                        </ion-item> -->
                    </div>
                </ion-col>
                <ion-col size="8">
                    <div class="transactionlist">
                        <div class="container">
                            <div class="transactions-box" *ngFor="let work of works" (click)="goToItemWork(work._id)">
                                <div class="left">
                                    <div class="icon bg-success"><img src="../../../assets/images/card.svg"
                                            class="w-100 card-icon" /></div>
                                </div>
                                <div class="middle">
                                    <div class="title">{{work.title}}</div>
                                    <div class="employer">{{work.employer.name}} {{work.employer.lastname}}</div>
                                    <div class="time">{{getStringDateCreation(work.created_at)}}</div>
                                </div>
                                <div class="right">
                                    <div class="price text-success" *ngIf="work.is_per_hours">
                                        $<p class="price_per_hour">{{work.price_per_hour}}</p>/hora
                                    </div>
                                    <div class="price text-success" *ngIf="!work.is_per_hours">
                                        $<p class="price_total">{{work.price_total}}</p> por trabajo realizado
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<app-footer></app-footer>