/*
* ----------------------------------------------------------------------------------------
*  Walkthrough screen
* ----------------------------------------------------------------------------------------
*/

.logo
{
	position: relative;
	width: 150px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.logo .icon
{
  width:35px;
  display:inline-block;
  vertical-align: middle;

}
.logo .name
{
   font-size:24px;
   font-weight:900;
   color:#FFF;
   display:inline-block;
   margin-left:10px;
   vertical-align: middle;

}

.walkthrough-slider
{
position: absolute;
top: 22%;
left: 0px;
right: 0px;
}
.walkthrough-slider .item
{
  text-align:center;
  padding:30px;
}

.walkthrough-slider .item .icon
{
   width:200px;
   height:200px;
   margin-left:auto;
   margin-right:auto;
}
.walkthrough-slider .item .slider-title
{

	font-size: 16px;
	color: #FFF;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 5px;

}
.walkthrough-slider .item .slider-description
{
font-size:14px;
font-weight:500;
opacity:0.7;
color:#FFF;
}
.bottom-btn-box
{
  position:absolute;
  bottom:50px;
  left:0px;
  right:0px;
  text-align:center;
  z-index: 1000;
}
