<ion-content class="mainbackground">

    <!-- <div class="logo">
        <div class="logo-box">
            <div class="icon"><img src="../../../assets/images/logoicon.svg" class="w-100" /></div>
            <div class="name">Kird</div>
        </div>
    </div> -->
    <div class="walkthrough-slider">

        <ion-slides [options]="mySlideOptions" class="owl-theme">
            <ion-slide>
                <div class="item">
                    <div class="icon"><img src="../../../assets/images/icon1.svg" class="w-100 h-100" /></div>
                    <div class="slider-title">No comparta sú información</div>
                    <p class="slider-description">Utiliza contaseñas seguras.</p>
                </div>
            </ion-slide>

            <ion-slide class="item">
                <div class="item">
                    <div class="icon"><img src="../../../assets/images/icon2.svg" class="w-100 h-100" /></div>
                    <div class="slider-title">Registrese como Empleador</div>
                    <p class="slider-description">Seleccione dentro de cientos de trabajadores el mas apropiado para dar
                        solución a su requerimiento.</p>
                </div>
            </ion-slide>

            <ion-slide class="item">
                <div class="item">
                    <div class="icon"><img src="../../../assets/images/icon3.svg" class="w-100 h-100" /></div>
                    <div class="slider-title">Registrese como Trabajador</div>
                    <p class="slider-description">Ofrezca sus servicios y gane dinero extra.</p>
                </div>
            </ion-slide>
        </ion-slides>

    </div>
    <div class="bottom-btn-box">
        <a class="theme btn btn-primary" (click)="loginPage()">Vamos</a>
    </div>
</ion-content>