<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
  <div class="container">
    <div class="header">
      <div class="row">
      
        <div class="col-8">
          <ion-header>
            <ion-toolbar style="--background: transparent;
            color: white;">
              <ion-buttons slot="start">
                <ion-back-button defaultHref="dashboard"></ion-back-button>
                <ion-label>Regresar</ion-label>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
        </div>
        <div class="col-4 text-right"> <a class="edit-btn"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>
    <div class="body">

      <div class="head">Publica un trabajo</div>
      
      <form [formGroup]="form_create">

        <ion-item class="item-form">
          <ion-label position="stacked">Título</ion-label>
          <ion-input formControlName="title" placeholder="Ej. Sacar al perro, Lavar el auto"></ion-input>
        </ion-item>

        <ion-item class="item-form">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-textarea formControlName="description" placeholder="Ej. Sacar al perro a las 6 pm al parque"></ion-textarea>
        </ion-item>

        <ion-item class="item-form">
          <ion-label position="stacked">Trabajo Por Horas?</ion-label>
          <ion-toggle formControlName="is_per_hours"></ion-toggle>
        </ion-item>

        <ion-item class="item-form" *ngIf="form_create.value.is_per_hours">
          <ion-label position="stacked">Precio/Hora</ion-label>
          <ion-input formControlName="price_per_hour" type="number" placeholder="Ej. 50000"></ion-input>
        </ion-item>
        
        <ion-item class="item-form" *ngIf="!form_create.value.is_per_hours">
          <ion-label position="stacked">Presupuesto Total</ion-label>
          <ion-input formControlName="price_total" type="number" placeholder="Ej. 50000"></ion-input>
        </ion-item>
        
        <ion-item class="item-form">
          <ion-label position="stacked">Departamento</ion-label>
          <ion-select formControlName="providence" placeholder="Ej. Boyaca">
            <ion-select-option value="Cundinamarca">Cundinamarca</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="item-form">
          <ion-label position="stacked">Ciudad</ion-label>
          <ion-select formControlName="city" placeholder="Ej. Tunja">
            <ion-select-option value="Bogotá">Bogotá</ion-select-option>
            <ion-select-option value="Madrid">Madrid</ion-select-option>
            <ion-select-option value="Mosquera">Mosquera</ion-select-option>
            <ion-select-option value="Funza">Funza</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="item-form">
          <ion-label position="stacked">Barrio</ion-label>
          <ion-input formControlName="neighborhood" placeholder="Ej. Villas de granada, Los Laureles"></ion-input>
        </ion-item>

        <ion-item class="item-form">
          <ion-label position="stacked">Dirección</ion-label>
          <ion-input formControlName="address" placeholder="Ej. Calle 67 # 18B - 27"></ion-input>
        </ion-item>

        <ion-item class="item-form">
          <ion-label position="stacked">Categoría</ion-label>
          <ion-select formControlName="category" placeholder="Ej. Hogar" cancelText="Cancelar" okText="Guardar">
            <ion-select-option selected value="">Todas</ion-select-option>
            <ion-select-option value="cleanliness">Aseo</ion-select-option>
            <ion-select-option value="construction">Construcción</ion-select-option>
            <ion-select-option value="mechanics">Mecánica</ion-select-option>
            <ion-select-option value="electricity">Electricidad</ion-select-option>
            <ion-select-option value="kitchen_room">Cocina</ion-select-option>
            <ion-select-option value="transport">Transporte</ion-select-option>
            <ion-select-option value="gardening">Jardinería</ion-select-option>
            <ion-select-option value="education">Educación</ion-select-option>
            <ion-select-option value="pets">Mascotas</ion-select-option>
            <ion-select-option value="home">Hogar</ion-select-option>
            <ion-select-option value="events">Eventos</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button (click)="submitForm()" [disabled]="form_create.invalid" shape="round" expand="full">Crear</ion-button>

      </form>
      
    </div>
  </div>
</ion-content>
<app-footer></app-footer>