.call-box {
    margin-top: 30px;
}
.country-box {
    cursor: pointer;
}
.country-box:hover {
    box-shadow: 0px 0px 3px 0px #ccc;
}

.worker-options{
    text-align: center;
    margin-bottom: 30px;
}

.employeer-options{
    text-align: center;
}

.btn-option-update{
    --background: #000000;
    height: 50px;
    width: 100%;
}

.btn-option-works{
    --background: #EC7A30;
    height: 50px;
    width: 100%;
}

.btn-option-works-applied{
    --background: #2241cc;
    height: 50px;
    width: 100%;
}

.btn-option-works-finished{
    --background: #c2ce1c;
    height: 50px;
    width: 100%;
}

.btn-option-create-work{
    --background: #EC7A30;
    height: 50px;
    width: 100%;
}

.btn-option-created-works{
    --background: #ffdb0d;
    height: 50px;
    width: 100%;
}

.text-option{
    color: white;
    font-size: inherit;
    font-weight: bold;
}

.price_per_hour{
    display: inline;
}

.price_total{
    display: inline;
}

.employer{
    color: white;
}