<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
   <div class="header">
      <div class="container">
         <div class="row">
            <div class="col-8">
               <div class="title"><span class="small-logo"><img src="../../../assets/images/logoicon.svg"
                        class="w-100" /></span> <span *ngIf="user" class="name">Hola {{user.name}} {{user.lastname}}, Bienvenido a EasyJob</span></div>
            </div>
            <div  class="col-4 text-right"><a style="display: none;" class="pulse-animation notification-btn" (click)="notificationsPage()"><i
                     class="far fa-bell"></i></a>
               <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg"
                     class="width-100" /></div>
            </div>
         </div>
      </div>
   </div>
   <div class="body">

      <div class="blue-card" *ngIf="user?.is_worker">
         <div class="container">
            <div class="card bg-primary">
               <div class="card-body">
                  <div class="accountbalance">Tus Ingresos</div>
                  <div class="accountbalance">${{balance?.balance}}</div>
                  <div class="balanceinfo" style="display: none;">
                     <div class="name">Siguiente depósito</div><br>
                     <div class="expiredate">15 de septiembre de 2021</div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="blue-card" *ngIf="user?.is_employeer">
         <div class="container">
            <div class="card bg-primary">
               <div class="card-body">
                  <div class="accountbalance">Trabajos En Curso</div>
                  <div class="accountbalance">{{works_currently_employer_count}}</div>
                  <div class="balanceinfo" style="display: none;">
                     <div class="name">Siguiente depósito</div><br>
                     <div class="expiredate">15 de septiembre de 2021</div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- <div class="head-title">
         <div class="container">
            Monthly Expenses
         </div>
      </div> -->
      <div class="worker-options" *ngIf="user?.is_employeer">
         <div class="container">
            <div class="row">
               <div class="col">
                  <ion-button (click)="updateInfo()" class="btn-option-update">
                     <ion-icon name="construct-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="text-option">Refrescar</ion-label>
               </div>
               <div class="col">
                  <ion-button (click)="goToWorkCreatePage()" class="btn-option-created-works">
                     <ion-icon name="construct-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="text-option">Publíca un Trabajo</ion-label>
               </div>
               <div class="col">
                  <ion-button (click)="goToCreatedWorkListPage()" class="btn-option-create-work">
                     <ion-icon name="construct-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="text-option">Contrata</ion-label>
               </div>
               <div class="col">
               </div>
               <div class="col">
                  
               </div>
               <div class="col">
                  
               </div>
            </div>
         </div>
      </div>

      <div class="employeer-options" *ngIf="user?.is_worker">
         <div class="container">
            <div class="row">
               <div class="col">
                  <ion-button (click)="updateInfo()" class="btn-option-update">
                     <ion-icon name="construct-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="text-option">Refrescar</ion-label>
               </div>
               <div class="col">
                  <ion-button (click)="goToWorksListPage()" class="btn-option-works">
                     <ion-icon name="construct-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="text-option">Busca Trabajo</ion-label>
               </div>
               <div class="col">
                  <ion-button (click)="goToWorksAppliedListPage()" class="btn-option-works-applied">
                     <ion-icon name="construct-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="text-option">Postulaciones</ion-label>
               </div>
               <div class="col">
                  <ion-button (click)="goToFinishedWorks()" class="btn-option-works-finished">
                     <ion-icon name="construct-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="text-option">Trabajos Realizados</ion-label>
               </div>
               <div class="col">
               </div>
               <div class="col">
               </div>
            </div>
         </div>
         <div class="container" style="margin-top: 30px;" *ngIf="user_qualification && user_qualification?.count_qualifications > 0">
            <div class="row">
               <div class="col"> 
                  <h3 style="color: white;
                  font-size: 31px;">Su calificación actual</h3>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <ion-icon style="color: #ef7e09;
                  font-size: 25px;" name="star-outline" *ngFor="let x of [].constructor(convertInt(user_qualification?.qualification/user_qualification?.count_qualifications))"></ion-icon>
               </div>
            </div>
         </div>
      </div>

      <div class="chart-box" style="display: none;">
         <canvas #barCanvas></canvas>
      </div>

      <div class="head-title" *ngIf="user?.is_worker && works_currently_worker">
         <div class="container">Trabajando Actualmente</div>
         <p class="container" style="margin-top: 10px;
         color: burlywood;" *ngIf="user?.is_worker && works_currently_worker.length == 0">Actualmente no está trabajando!</p>
      </div>
      <div class="transactionlist" *ngIf="user?.is_worker && works_currently_worker">
         <div class="container">
            <div class="transactions-box" *ngFor="let work of works_currently_worker" (click)="goToItemWork(work._id)">
               <div class="left">
                  <div class="icon bg-success"><img src="../../../assets/images/mobile.svg" class="w-100" /></div>
               </div>
               <div class="middle">
                  <div class="title">{{work.title}}</div>
                  <div class="employer">{{work.employer}}</div>
               </div>
               <div class="right">
                  <div class="price text-success" *ngIf="work.is_per_hours">
                     $<p class="price_per_hour">{{work.price_per_hour}}</p>/hora
                 </div>
                 <div class="price text-success" *ngIf="!work.is_per_hours">
                     $<p class="price_total">{{work.price_total}}</p> por trabajo realizado
                 </div>
               </div>
            </div>
         </div>
      </div>

      <div class="head-title" *ngIf="user?.is_employeer && works_currently_employer">
         <div class="container">Contratados Actualmente</div>
         <p class="container" style="margin-top: 10px;
         color: burlywood;" *ngIf="user?.is_employeer && works_currently_employer.length == 0">Actualmente no tiene trabajos en proceso!</p>
      </div>
      <div class="transactionlist" *ngIf="user?.is_employeer && works_currently_employer" >
         <div class="container">
            <div class="transactions-box" *ngFor="let work of works_currently_employer" (click)="goToItemWork(work._id)">
               <div class="left">
                  <div class="icon bg-success"><img src="../../../assets/images/mobile.svg" class="w-100" /></div>
               </div>
               <div class="middle">
                  <div class="title">{{work.title}}</div>
                  <div class="employer">{{work.worker}}</div>
               </div>
               <div class="right">
                  <div class="price text-success" *ngIf="work.is_per_hours">
                     $<p class="price_per_hour">{{work.price_per_hour}}</p>/hora
                 </div>
                 <div class="price text-success" *ngIf="!work.is_per_hours">
                     $<p class="price_total">{{work.price_total}}</p> por trabajo realizado
                 </div>
               </div>
            </div>
         </div>
      </div>

   </div>

</ion-content>
<app-footer></app-footer>