<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="title"><a (click)="dashboardPage()" class="back-btn"><i
                                class="fas fa-angle-left"></i></a> Trabajos postulados</div>
                </div>
                <div class="col-4 text-right">
                    <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg"
                            class="width-100" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        
        <div class="transactionlist">
            <div class="container">
                <div class="transactions-box" *ngIf="!works_applied || works_applied?.length == 0">
                    <h1 style="color: #d7a225;">Actualmente no ha aplicado a ningún trabajo</h1>
                </div>
                <div class="transactions-box" *ngFor="let work_applied of works_applied" (click)="goToItemWork(work_applied.work_data._id)">
                    <div class="left">
                        <div class="icon bg-success"><img src="../../../assets/images/card.svg"
                                class="w-100 card-icon" /></div>
                    </div>
                    <div class="middle">
                        <div class="title">{{work_applied.work_data.title}}</div>
                        <div class="employer">{{work_applied.work_data.employer.name}} {{work_applied.work_data.employer.lastname}}</div>
                        <div class="time">{{getStringDateCreation(work_applied.apply_date)}}</div>
                    </div>
                    <div class="right">
                        <div class="price text-success" *ngIf="work_applied.work_data.is_per_hours">
                            $<p class="price_per_hour">{{work_applied.work_data.price_per_hour}}</p>/hora
                        </div>
                        <div class="price text-success" *ngIf="!work_applied.work_data.is_per_hours">
                            $<p class="price_total">{{work_applied.work_data.price_total}}</p> por trabajo realizado
                        </div>

                        <div class="state-created" *ngIf="work_applied.work_data.status == 'created'">
                            Evaluando Propuestas
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</ion-content>
<app-footer></app-footer>